/node_modules
/android/zebra-capacitor/.gradle
/android/zebra-capacitor/.idea
/android/zebra-capacitor/build
/android/zebra-capacitor/gradle
/dist
package-lock.json
ios/Plugin/Plugin.xcworkspace/xcuserdata
